@import 'base/normalize';

@import 'utils/fonts';

@import 'utils/variables';

@import 'base/base';

@import 'components/components';


@import 'layout/header';
// @import 'layout/intro';
// @import 'layout/about-us';
// @import 'layout/gallery';
// @import 'layout/_appointment';
// @import 'layout/contact-form';
// @import 'layout/footer';