// $gray-color: #30383b;
// $purple-color:#473452;

$blue-color:#143468;
$light-blue-color: #244276;
$red-color: #d90000;


$default-font-size: 16px;
$navbar-font-size: 15px;
$section-header-font-size: 42px;
$main-section-title-font-size: 50px;
$card-header-font-size: 22px;


$container-width-xsm: 100%;
$container-width-sm: 95%;
$container-width-md: 760px;
$container-width-lg: 968px;
$container-width-xlg: 1200px;

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Bellota', cursive;