// $gray-color: #30383b;
// $purple-color:#473452;

$blue-color:#143468;
$light-blue-color: #244276;
$red-color: #d90000;


$default-font-size: 16px;
$navbar-font-size: 15px;
$section-header-font-size: 42px;
$main-section-title-font-size: 50px;
$card-header-font-size: 22px;


$container-width-md: 720px;
$container-width-lg: 1140px;

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Bellota', cursive;


@media (min-width: 576px) {

}

@media (min-width: 1200px) {

}