.header-top-nav {
  background-color: $blue-color;
  font-size: 0.75rem;
}

.header-top-nav-container {
  display: block;
  padding: 0;
}

.header-top-nav__list {
  height: 42px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
  text-transform: uppercase;

  // background-color: red;
}

.header-top-nav_list-item {
  margin: 0 10px;
}

.live-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
  
  color: white;
  font-size: 0.75rem;

  // background-color: green;
}

.live-icon {
  background-image: url('../img/header/live-icon.png');
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 100%;
  width: 40px;
  padding: 0;
  margin: 0 10px;
}

.live-icon__off {
}

.live-text {
  display: inline-block;
  margin: 0;
  // margin-top: 10px;
  padding: 0;
  font-weight: 700;
}

.live-title__highlighted {
  color: $red-color
}

.live-desc {
  font-weight: initial;
}



.header-bg {
  height: 220px;
  background-color: $light-blue-color;
  background-image: radial-gradient(circle at 30% 0%, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0) 75%);
}

.header-bg-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url('../img/header/header-bg.png');
  background-repeat: no-repeat;
  background-position: right;
  
}

.header-bg-itv-logo {
  height: 60%;
  margin-left: 50px;
  align-self: center;
  cursor: pointer;
}

.header-bg-socials {
  align-self: end;
  display: flex;
  // background-color: khaki;
  margin-bottom: 35px;
  margin-right: 95px;
  color: white;
}

.social-icon {
  height: 38px;
  width: 38px;
  align-self: flex-end;
  display: block;
  background-size: inherit;
  background-position: center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
}

.fb-icon {
  background-image: url('../img/header/fb-icon.png');
  
}

.twitter-icon {
  background-image: url('../img/header/twitter-icon.png');
}


.main-nav-container {
  height: 50px;
  // background-color: lawngreen;
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  height: 100%;
  padding: 0;
  margin: 0;
}




@media (min-width: 480px) {
  // container-width: 95%
  
}

@media (min-width: 768px) {
  // container-width: 760px

  .main-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 0.9rem;
  }

  .main-nav-item {
    margin: 0 15px ;
  }

  .main-nav-container {
    height: 58px;
  }

}

@media (min-width: 1024px) {
  // container-width: 1020px
  .header-top-nav-container {
    display: flex;
  }

  .header-top-nav__list,
  .live-info {
    width: 50%;
    padding: 0 1rem;
  }

  .header-top-nav__list {
    justify-content: start;

  }
  .live-info {
    justify-content: end;
    cursor: pointer;
  }
  
  .live-text {
    margin-top: 10px;
  }  

  .main-nav-list {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
  }

  .main-nav-item {
    margin: 0;
  }

}

@media (min-width: 1200px) {
  // container-width: 1200px
  .main-nav-list {
    font-size: 1rem;
  }

  .main-nav-container {
    height: 62px;
  }

}



// template

// @media (min-width: 480px) {
//   // container-width: 95%
  
// }

// @media (min-width: 768px) {
//   // container-width: 760px

// }

// @media (min-width: 1024px) {
//   // container-width: 1020px

// }

// @media (min-width: 1200px) {
//   // container-width: 1200px
  
// }